<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row" style="padding: 10px">
        <!--<form>-->
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" name="username" placeholder="Username..."/>-->
                <!--<span class="input-group-btn">-->
                    <!--<input type="submit" class="btn btn-primary " value="Find" />-->
                    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <!--</span>-->
            <!--</div>-->
        <!--</form>-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Is Enabled</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user : ${users}" th:object="${user}">
                <th scope="row" th:text="${user.id}"></th>
                <td th:text="${user.username}"></td>
                <td th:text="${user.Enabled}"></td>

                <td style="padding: 2px; vertical-align: middle; empty-cells: show"
                    th:if="*{isEnabled() == true and isAdmin() == false}">
                    <form method="post" th:action="@{/admin/users/disableUser/{id} (id=${user.id})}">
                        <button type="submit" class="card-button btn btn-warning" name="Disable">Disable</button>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </td>
                <td style="padding: 2px; vertical-align: middle; empty-cells: show"
                    th:if="*{isAdmin() == false}">
                    <form method="post" th:action="@{/admin/users/delete/{id}(id=${user.id})}">
                        <button type="submit" class="card-button btn btn-success" name="Delete">Delete</button>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>