<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12" th:object="${extension}">
                <article>
                    <header>
                        <h2 th:text="*{name}"></h2>
                    </header>

                    <p th:text="*{description}"> </p>

                    <small class="author" th:text="*{owner.username}"></small>

                    <p>
                        <a class="btn btn-basic btn-xs" th:each="tag:${extension.getTags()}" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                    </p>

                    <footer>

                        <div class="pull-right">

                            <th:block sec:authorize="isAuthenticated()">
                            <a class="btn btn-success btn-xs" th:href="@{/extension/edit/{id}(id = ${extension.id})}">Edit</a>
                            <a class="btn btn-danger btn-xs" th:href="@{/extension/delete/{id}(id = ${extension.id})}">Delete</a>
                            </th:block>

                            <a class="btn btn-default btn-xs" th:href="@{/extensions/all}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>
